body{
    background-color: #bbb;
}
img{
    width:256px;
    height:256px;
}

.title-space{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:40px;
    text-transform:uppercase;
    letter-spacing: 10px;
    margin-bottom:30px;

}

.hero-choice{
    font-size:20px;
    margin-top:10px;

    
}

.hero-choice:hover{
    background-image:linear-gradient(to right, #ff0099, #f00);
    -webkit-background-clip: text;
    color:transparent;
    background-clip:text;
    
}
.heroes{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
}
.hero-template{
    background-color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:5px double #999;
    border-radius:10%;
    opacity:50%;
    transition: opacity 1.5s, transform 0.5s, border 0.5s ease-in;
    width: 350px;
    
    
}
.hero-template:hover{
    opacity:100%;
    transform:scale(1.14);
    border:5px double #ff0099;
    
}
.hero-template:hover .hero-status{
    border: 3px solid #00f;

}

.monsters:hover{
    border:5px double #f00;
}
.hero-title{
    font-size:20px;
    font-weight:600;
}
.hero-status{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
}
.versus{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:40px;
    margin-bottom:40px;
}
.versus-title{
    font-size:25px;
    letter-spacing: 10px;
    text-transform:uppercase;
    color:#333;

}
.versus-title:hover {
    background-image:linear-gradient(to right, #ff0099, #f00);
    -webkit-background-clip: text;
    color:transparent;
    background-clip:text;
    cursor:pointer;
}
.hero-status{
    border:3px solid #999;
    display:flex;
    flex-direction:column;
    margin:25px;
    padding:10px;
    border-radius:10%;
    transition: border 1.5s
}

.hero-status .hero-status-title{
    font-weight:800;
    letter-spacing: 3px;
    margin-bottom:5px;
}
.hero-advantages{
    text-transform:capitalize;
    text-decoration:underline;
    font-weight:800;
    margin-bottom:8px;
}
.hero-feature{
    font-weight:800;
    margin-left:5px;
    margin-bottom:5px;
    
}
.hero-feature .health-number{
    font-weight:bold;
    color: rgba(99, 12, 12, 0.445);
}
.hero-feature .damage-number{
    font-weight:400;
    color: #f00;
}
.hero-feature .armor-number{
    font-weight:bold;
    color: #00f;
}
.hero-button{
    margin-top:15px;
    width:100%;
}
.battle-area{
    display:flex;
   margin-top:60px;

}
.hero-choice{
    display:flex;
    flex-direction:column;

}
.chosen-hero{
    margin-top:5px;
    display:flex;
    flex-direction:column;
    
}


.on-attack{
    width:80px;
    height:25px;
    margin-top:10px;
    align-self:center;
    font-weight: bold;
    text-transform:uppercase;
    display:none;
}
.battle-log{

border:1px dotted #999;
width:55%;
height:200px;
overflow-y: scroll;
display:None;

    
}

.health-bar{
    width:150px;
    height:10px;
    border:2px solid #000;
    border-radius: 15px;
    display:none;
    margin-top:30px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:25px;
    align-self:center;

}
.numbered-life{
    font-size:15px;
    margin:5px;
    margin-left:50px;
}
.health-now-monster{
    align-self:center;
}
.health-bar .health-now{
    width:10%;
    height:inherit;
    background-color:#ff0000;
    border-radius:inherit;
    display:inherit;
}

footer{
    margin-top:30px;
}
